<div class="message-container">
<div id="" class="row top-bar">
    <ul>
        <li>
            <figure class="tb-user-image">
                <i class="fa fa-4x fa-plus-circle" aria-hidden="true"></i>
                <figcaption>Add</figcaption>
            </figure>
        </li>
        <li>
            <figure class="tb-user-image">
                <img id="user1" src="images/placeholder-user.png"/>
                <figcaption>User 1</figcaption>
            </figure>
        </li>
        <li>
            <figure class="tb-user-image">
                <img src="images/placeholder-user.png"/>
                <figcaption>User 2</figcaption>
            </figure>
        </li>
    </ul>
</div>
<div class="row content-holder" id="chat-content-holder">
    <ul id="messages">
        <li>This is your first message with this user. Make it awesome!</li>
        <!--Append messages to this list from the socket-->

    </ul>
</div>
</div>
<div class="" id="action-box" style="padding-right: 2rem;padding-left:2rem">
    <input id="text-input" name="text-input" type="text" style="width: 87%" placeholder="Enter your message..">
</div>